*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mobile: 480px;
$tablet: 768px;

html, body, #root {
    height: 100%;
    width: 100%;
    // Change overflow to allow scrolling only if necessary on mobile
    @media (max-width: $tablet) {
        overflow-y: auto; 
    }
    @media (min-width: $tablet) {
        overflow: hidden;
    }
}

main{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-image: url('wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}